* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.wrapper {
  margin: 0 auto;
  width: 85%;
}

.banner {
  width: 100%;
  background-color: rgb(145, 43, 43);
  opacity: 0.8;
  height: 250px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav .icon {
  display: none;
}

.banner-text {
  color: rgb(199, 193, 193);
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  width: 600px;
  position: relative;
  left: 22%;
}
h3 {
  margin: 0;
  padding-top: 50px;
  color: rgb(247, 225, 225);
  text-align: center;
}
span {
  color: rgb(187, 4, 4);
}

.logo {
  margin: 0;
  background: white;
  height: 50px;
  padding: 5px 0 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  margin: 0;
  color: white;
  padding-top: 20px;
  text-transform: capitalize;
  text-align: center;
}
.banner-writeup {
  width: 100%;
  text-align: justify;
}
section {
  background-color: white;
  margin: 0 auto;
  width: 85%;
  height: 90vh;
}

.leader-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

img {
  float: left;
  padding-right: 20px;
}

.leader-quotes {
  width: 100%;
}
.leadership-h1 {
  text-align: center;
}
p {
  text-align: justify;
  padding: 30px 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.5;
}
footer {
  margin: 0 auto;
  width: 85%;
}
.footer {
  height: 40px;
  background: rgb(36, 34, 34);
  color: white;
  margin: 0;
}
.footer .copy-right {
  padding-top: 7px;
  margin: 0;
  text-align: center;
}

@media (min-width: 900px) {
  .banner-text {
    color: rgb(199, 193, 193);
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    width: 500px;
    position: relative;
    left: 27%;
  }
}
@media (max-width: 900px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .banner-text {
    color: rgb(199, 193, 193);
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    width: 450px;
    position: relative;
    left: 19%;
  }
}

@media (max-width: 690px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .banner-text {
    color: rgb(199, 193, 193);
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    width: 300px;
    position: relative;
    left: 15%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .banner-text {
    color: rgb(199, 193, 193);
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    width: 200px;
    position: relative;
    left: 20%;
  }
  .banner-text {
    color: rgb(199, 193, 193);
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    width: auto;
    position: relative;
    left: 0%;
    height: auto;
  }
  section {
    background-color: white;
    margin: 0 auto;
    width: 85%;
    height: auto;
  }

  .leader-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  img {
    width: 100%;
    float: left;
    padding-right: 20px;
  }
  h1,h4{
      text-align: center;
  }

  .leader-quotes {
    width: 100%;
  }
  .leadership-h1 {
    text-align: center;
  }
}

@media (max-width: 250px) {
  .banner-text {
    color: rgb(199, 193, 193);
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    width: 170px;
    height: auto;
    position: relative;
    left: 0;
  }
}
