*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color:black;
   
}
.wrapper{
    margin:0 auto;
    width:75%;
}

.nav{
    height:40px;
    background: rgb(36, 34, 34);
   
}
.nav li{
    display: inline;
    padding-top:10px;
    float: right;
}
.nav li a{
    color:white;
    padding:10px 50px 0 0;
    text-decoration: none;

}

.banner-text{
    color:rgb(199, 193, 193);
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif
}
h3{
    color:rgb(241, 178, 178);
}
span{
    color:rgb(187, 4, 4);
}

.logo{
    margin:0;
    background: white;
    height:50px;
  padding: 5px 0 0 20px;
  font-family:Arial, Helvetica, sans-serif
}
h2{
    margin:0;
    color:white;
    padding-top:20px;
    text-transform: capitalize;
}
.banner-writeup{
    width:30%;
    text-align: justify;
    padding-left:5px;
}
section{
    background-color: white;
    margin:0 auto;
    width:85%;
    height: 120vh;
}
.signup-form{
    width:80%;
    margin:0;
    padding-top: 50px;
    position: relative;
    left:9%;
}
.form-h1{
    color:rgb(73, 69, 69);
    text-align: center;
}
.signup-form input[type=text],
 input[type=password],
input[type=email],
input[type=number]
{
    display: block;
    padding:12px 20px;
    width:100%;
    margin-top:10px;
    border:0 ;
    border-bottom:1px solid gray; 
    font-size: 14px;
}
.btn{
    width:40%;
    padding:10px;
    margin-top:30px;
    margin-left:30%;
    border:none;
    color:white;
    background:green;
    font-weight: bold;
}

footer{
    margin:0 auto;
    width:75%;
}
.footer{
   
    height:40px;
    background: rgb(36, 34, 34);
    color:white;
    margin:0;  
}
.footer .copy-right{
    padding-top:7px;
    margin:0;
    text-align: center;
}
p{
    text-align: center;
}
p > a{
    text-decoration: none;
    color:rgb(168, 21, 21);
}