*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color:black;
   
}
.wrapper{
    margin:0 auto;
    width:85%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
 
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav .icon {
    display: none;
  }
  
.banner-text{
    color:rgb(199, 193, 193);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width:600px;
    position: relative;
    left:22%;
}
h3{
    margin:0;
    padding-top: 50px;
    color:rgb(247, 225, 225);
    text-align: center;
    
}
span{
    color:rgb(187, 4, 4);
}

.logo{
    margin:0;
    background: white;
    height:50px;
  padding: 5px 0 0 20px;
  font-family:Arial, Helvetica, sans-serif
}
h2{
    margin:0;
    color:white;
    padding-top:20px;
    text-transform: capitalize;
    text-align: center;
}
.banner-writeup{
    width:100%;
    text-align: justify;
  
}
section{
    background-color: rgb(223, 217, 217);
    margin:0 auto;
    width:85%;
    height: 100vh;
    background: rgb(235, 231, 231);
}
.viewparty {
    text-align:left;
}

.signup-form{
    width:40%;
    margin:0;
    padding-top: 50px;
    position: relative;
    left:25%;
}
.wrapper > h1{
    /* text-align: center; */
    margin:0;
    padding-top:20px;
    text-transform: uppercase;
    color:rgb(160, 15, 15);
}

.list-party{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top:30px;
    grid-template-rows: 50px;
    text-align: center;
    
}

.td{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: bold;
    color:grey;
  
}
.list{
    padding-top:20px;
    text-transform: capitalize;
 color:rgb(66, 53, 53);

}

.func{
    cursor: pointer;
}

select{
    width:130px;
    height:20px;
    border:none;
    /* margin-top:100px */
}
select > option{
   text-transform: uppercase;

   
}
footer{
    margin:0 auto;
    width:85%;
}
.footer{
   
    height:40px;
    background: rgb(36, 34, 34);
    color:white;
    margin:0;  
}
.footer .copy-right{
    padding-top:7px;
    margin:0;
    text-align: center;
}
p{
    text-align: center;
}
p > a{
    text-decoration: none;
    color:rgb(168, 21, 21);
}
.voteResult{
    text-align: center;
    width:400px;
    padding-top:50px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
 
}
.vote{
    display: flex;
}

.title{
    text-align: center;
    color: rgb(155, 23, 23);
}
.result{
padding:10px;
text-align: left;
text-transform: capitalize;
color: gray;
border:1px solid grey;
}
.vresult{
    margin-left:100px;
    text-align: center;
    text-transform: capitalize;
}

@media(min-width: 900px) {
    .banner-text{
        color:rgb(199, 193, 193);
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        width:500px;
        position: relative;
        left:27%;
    }
   
  }
@media(max-width: 900px) {
  
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    
    
    .banner-text{
        color:rgb(199, 193, 193);
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        width:450px;
        position: relative;
        left:19%;
    }
  }
  
  @media  (max-width: 690px) {
    .topnav.responsive {position: relative;}
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .banner-text{
        color:rgb(199, 193, 193);
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        width:300px;
        position: relative;
        left:15%;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }
  @media (max-width:500px){
    .banner-text{
        color:rgb(199, 193, 193);
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        width:200px;
        position: relative;
        left:20%;
    }
    h3{
        margin:0;
        padding-top: 50px;
        color:rgb(247, 225, 225);
        text-align: center;  
        width:90% ;
        padding-left:20px;

    }
    section{
        background-color: rgb(223, 217, 217);
        margin:0 auto;
        width:85%;
        height: 120vh;
        background: rgb(235, 231, 231);
    }
    select{
        margin-top:10px;
    }
    .list-party{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top:70px;
        grid-template-rows: 50px;
        text-align: center;  
    }
    .td{
        font-family: Arial, Helvetica, sans-serif;
        font-size:15px;
        font-weight: bold;
        color:grey;
  
    }
  }

  @media (max-width:250px){
    .banner-text{
        color:rgb(199, 193, 193);
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        width:170px;
        height: auto;
        position: relative;
        left:0;
    }
}